[Unit]
Description=Uranus Telegram
After=hackernel.service

[Service]
ExecStart=/usr/sbin/uranus-telegram
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
